Workflows/Lead_Reactivation.json
{
  "name": "TKO Send To All Maadi",
  "nodes": [
    {
      "parameters": {
        "path": "c302832b-6f34-4978-969d-3224a8969782",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1616,
        96
      ],
      "id": "924a7e53-01ce-401e-8ad7-436d7a63643c",
      "name": "Webhook",
      "webhookId": "c302832b-6f34-4978-969d-3224a8969782"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -16
      ],
      "id": "72d34672-cea2-4a47-95e3-90631bdb9941",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8daaea91-7851-4b61-8171-41ceb97aebbd",
              "name": "expired",
              "value": "={{ $input.all().filter(item => Object.keys(item.json).length > 0).length || 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -112
      ],
      "id": "3102f746-fc58-494f-9f02-dd47f2df84a8",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AccountSID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ContentSid",
              "value": "HX686e08afe3640e8188072e98a6773fc5"
            },
            {
              "name": "To",
              "value": "=whatsapp:+2{{ $json.cleanedPhone }}"
            },
            {
              "name": "From",
              "value": "whatsapp:+13613069901"
            },
            {
              "name": "ContentVariables",
              "value": "={\n\"1\": \"{{ $json.Client }}\",\n\"2\": \"{{ $json['Subscription Due Date '] }}\",\n\"3\": \"losing gym access\",\n\"4\": \"S/ahmed.maghraby22/instapay/0JWLnW\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        96
      ],
      "id": "09da7f57-d7cc-4eed-8d15-a9897123b2db",
      "name": "Send Template",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "vtFA8G1AviGdsNTs",
          "name": "Twilio TKO"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        96
      ],
      "id": "819a4692-2d4e-4dea-80d1-87fa1c17b23a",
      "name": "Wait",
      "webhookId": "578f34c5-3c81-4820-a775-7e551896e844"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AccountSID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ContentSid",
              "value": "HX83385450c09d581ce5da32911bc16d34"
            },
            {
              "name": "To",
              "value": "=whatsapp:+201000400355"
            },
            {
              "name": "From",
              "value": "whatsapp:+13613069901"
            },
            {
              "name": "ContentVariables",
              "value": "={\n\"1\": \"0\",\n\"2\": \"{{ $json.expired }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        -112
      ],
      "id": "06b977e7-69cf-4442-9059-9782c1c1fe42",
      "name": "Summary Message",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "vtFA8G1AviGdsNTs",
          "name": "Twilio TKO"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Client",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -64,
        96
      ],
      "id": "0218e90c-30e4-408d-8f03-ae4ef423f8fe",
      "name": "Split Out"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appsI86HWymwFoY31",
          "mode": "list",
          "cachedResultName": "TKO-MAADI",
          "cachedResultUrl": "https://airtable.com/appsI86HWymwFoY31"
        },
        "table": {
          "__rl": true,
          "value": "tblv3GsJOfjFB0k3q",
          "mode": "list",
          "cachedResultName": "Classes",
          "cachedResultUrl": "https://airtable.com/appsI86HWymwFoY31/tblv3GsJOfjFB0k3q"
        },
        "id": "={{ $json.query.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1392,
        96
      ],
      "id": "0ee23bec-a6a9-4d45-9335-3d02a647db80",
      "name": "Get Class",
      "credentials": {
        "airtableTokenApi": {
          "id": "tKM3ausKtWiFMTzu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appsI86HWymwFoY31",
          "mode": "list",
          "cachedResultName": "TKO-MAADI",
          "cachedResultUrl": "https://airtable.com/appsI86HWymwFoY31"
        },
        "table": {
          "__rl": true,
          "value": "tblR4lppOL4yyO9vp",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appsI86HWymwFoY31/tblR4lppOL4yyO9vp"
        },
        "id": "={{ $json.Client }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        96
      ],
      "id": "1b18b9ac-d880-4741-b856-f7af5708f64d",
      "name": "Get Client",
      "credentials": {
        "airtableTokenApi": {
          "id": "tKM3ausKtWiFMTzu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f082dec8-c278-4c38-8488-0fd738a1bb05",
              "leftValue": "={{ $json['Days diff'] }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        96
      ],
      "id": "23d97c19-d706-4164-adee-d63767553513",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        320
      ],
      "id": "59a2ee8d-dc61-46ac-8787-5f77af5c3439",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA",
          "mode": "list",
          "cachedResultName": "TKO Send To All Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Maadi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Class",
              "lookupValue": "={{ $json.Classes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        96
      ],
      "id": "ded039aa-9d7f-4053-8ea5-98b66df668cd",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kOvBB7y5x4V6DLhe",
          "name": "Ziad - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA",
          "mode": "list",
          "cachedResultName": "TKO Send To All Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Maadi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-C2POZ1UiM6vrsbtSOKTiNuuGrZL7jCWXHyHpuRpeYA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Trigger Date": "={{ $now }}",
            "Class": "={{ $('Get Class').item.json.Classes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Trigger Date",
              "displayName": "Trigger Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Class",
              "displayName": "Class",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        96
      ],
      "id": "3301d6d8-7d4f-4874-8db3-0fed47728ed0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kOvBB7y5x4V6DLhe",
          "name": "Ziad - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "722606be-38c3-4eef-951f-25189805ffff",
              "leftValue": "={{ $json.withinLastTwoWeeks }}",
              "rightValue": null,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        96
      ],
      "id": "25a62d2f-62f1-44e1-a700-7263dacb21b9",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// If sheet is empty\nif (allItems.length === 0) {\n  return [\n    {\n      json: {\n        withinLastTwoWeeks: false,\n        latestRowFound: false\n      }\n    }\n  ];\n}\n\n// Sort by Trigger Date descending (newest first)\nallItems.sort((a, b) => {\n  return new Date(b.json[\"Trigger Date\"]) - new Date(a.json[\"Trigger Date\"]);\n});\n\n// Take only the latest row\nconst latestItem = allItems[0];\nconst triggerDateRaw = latestItem.json[\"Trigger Date\"];\n\nif (!triggerDateRaw) {\n  return [\n    {\n      json: {\n        ...latestItem.json,\n        withinLastTwoWeeks: false,\n        latestRowFound: true\n      }\n    }\n  ];\n}\n\nconst triggerDate = new Date(triggerDateRaw);\nconst twoWeeksAgo = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000);\n\nreturn [\n  {\n    json: {\n      ...latestItem.json,\n      withinLastTwoWeeks: triggerDate >= twoWeeksAgo,\n      latestRowFound: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        96
      ],
      "id": "83795e16-038d-4560-bc3a-15f9b6a08d3b",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        -96
      ],
      "id": "8a241a0c-3019-4d3e-b7eb-a39ee288b30c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3632169a-14c7-4aa6-9c66-a10cc7c6f834",
              "name": "Client",
              "value": "={{ $('Get Class').item.json.Client }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        96
      ],
      "id": "8fc16ace-a518-4ce6-8af5-d1afc9d11344",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json['Phone Number '];\n\nif (!raw || typeof raw !== 'string') {\n  return {\n    ...$json,\n    cleanedPhone: null,\n    phoneValid: false,\n  };\n}\n\nconst cleanedPhone = raw\n  .replace(/[\\u202A-\\u202E\\u2066-\\u2069]/g, '')\n  .replace(/[^\\d]/g, '')\n  .trim();\n\nreturn {\n  ...$json,\n  cleanedPhone,\n  phoneValid: cleanedPhone.length > 0,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        96
      ],
      "id": "23b316e7-8fdb-44d5-a669-de907b62b058",
      "name": "Clean Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Message": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Class": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Phone": {
      "main": [
        [
          {
            "node": "Send Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b5e3f29-448d-4071-8a14-281ad889a4d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbca4ebfba122420b89ef35809614a39f08bc24b41d83eba3ed2b2ba981cea20"
  },
  "id": "i0hGJtb9bLwWjzJS",
  "tags": []
}